body {
  margin: 0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(135deg, #1a1a2e, #16213e);
}

        /* USER AUTHENTICATION FOR TEXT */
.main-auth-container {
  margin-top: 15vh;
  margin-left: 45vh;
  text-align: center;
  flex-direction: column;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  color: black;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.2);
}

.app-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 0px;
  align-items: center;
  gap: 7px;
}

.app-logo img {
  height: 4em;
  width: 3em;
}

.app-logo p {
  font-size: 3rem;
}

.main-text-logo {
  background: transparent;
  border-style: none;
  cursor: pointer;
  padding-top: 10px;
  font-size: 2.8rem;
}

.auth-form-container {
  
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.auth-form-container h2 {
  margin-top: -10px;
  font-size: 2rem;
}

.auth-form-container input {
  margin: 0px 30px;
  border: 0.5px double rgb(193, 191, 195);
  border-radius: 3px;
  height: 3rem;
  margin-bottom: -5px;
  font-size: 1.3rem;
  background: linear-gradient(170deg, #f4f4f4, #ffffff);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.auth-form-container input:focus {
  background: linear-gradient(135deg, #ffffff, #e8e8e8);
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.loginbutton {
  border-style: none;
  border-radius: 3px;
  height: 3rem;
  font-size: 1.3rem;
  width: 7rem;
  color: #ffffff;
  background: linear-gradient(135deg, #007bff, #0a57a9);
  margin-bottom: 10px;
  margin-top: -5px;
}

.loginbutton:hover {
  background: linear-gradient(135deg, #0056b3, #003d82);
}


          /* DASHBOARD VIEW FOR TEXT  */


.parent-dashboard {
  
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
}

.dashboard-nav { 
  height: 100vh;
  width: 60vh;
  background: linear-gradient(135deg, #374151, #4b5563);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.2);
}

.user-chat {
  flex: 1;
  height: 100vh;
  width: 130vh;
  background: linear-gradient(135deg, #d9d7d7, #d2dbe7);
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-friends {
  background: linear-gradient(170deg, #f2f5f6, #ffffff);
  height: 8vh;
  width: 59vh;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding-left: 4px;
}

.search-friends button {
  font-size: 1.7rem;
  background: transparent;
  border-style: none;
}

.search-friends input {
  width: 100%;
  height: 7.3vh;
  font-size: 1.3rem;
  background: linear-gradient(170deg, #f2f5f6, #ffffff);
  outline: none;
  transition: all 0.3s ease-in-out;
  border: none;
}

.search-friends input:focus {
  background: linear-gradient(105deg, #ffffff, #ebeef1);
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

        /* INDIVIUAL CHAT AREA */

        /* user info */

.user-info {
  background: linear-gradient(135deg, #f5f0e1, #fffaf0);
  height: 8vh;
  width: 130vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
} 

.user-info button {
  background: transparent;
  border-style: none;
  font-size: 2rem;
}

.user-status {
  display: flex;  
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center;
  margin-top: 5px;
  gap: 2px;
}

.user-status h3, p {
  margin: 0;
}

.user-status h3 {
  font-size: 1.2rem;
}

.user-info .avatar {
  font-size: 3rem;
  padding-top: 10px;
}

.user-info .search-text {
  margin-left: 90vh;
}

        /* texting area */
      
.text-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

.text-area input {
    height: 3em;
    width: 100%;
    background: linear-gradient(170deg, #f2f5f6, #ffffff);
    outline: none;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 1.2rem;
}

.text-area input:focus { 
  background: linear-gradient(105deg, #ffffff, #ebeef1);
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.text-area button {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.text-area-icons {
  font-size: 1.7rem;
  cursor: pointer;
}

.gif {
  font-size: 2rem;
}